body {
  background: rgb(0, 0, 112);
  background: linear-gradient(
    160deg,
    rgba(0, 0, 112, 1) 0%,
    rgba(82, 55, 123, 1) 50%,
    rgba(11, 216, 236, 1) 100%
  );
}
h1 {
  font-size: calc(100% + 1vw + 1vh);
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center {
  text-align: center;
  justify-content: center;
}